<div class='mt-4 col-4 offset-4 '>
  <div class='card'>
    <div class="card-header bg-light">Login</div>
    <div class="card-body">
      <form (ngSubmit)="submit()" [formGroup]="form">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" formControlName="email" class="mt-2 form-control" placeholder="Enter Email"
            [ngClass]="{'is-invalid' : submitted && f.email.errors}">
        </div>

        <div *ngIf="submitted && f.email.errors" class="invalid">

          <div *ngIf="f.email.errors.required">
            Email is required
          </div>

          <div *ngIf="f.email.errors.email">
            Email must be a valid email address
          </div>
        </div>

        <div class="mt-2 form-group">
          <label for="password">Password</label>
          <input type="password" name="password" formControlName="password" class="mt-2 form-control"
            placeholder="Enter Password" [ngClass]="{'is-invalid' : submitted && f.password.errors}">
        </div>

        <div *ngIf="submitted && f.password.errors" class="invalid">

          <div *ngIf="f.password.errors.required">
            Password is required
          </div>

        </div>

        <button type='submit' class='mt-4 btn btn-primary'>Login</button>
      </form>
    </div>
  </div>


</div>
